@model SeekYourCareer.Models.RepresentativeAddJobOffer

@{
    ViewBag.Title = "addJobsTODb";
    Layout = "~/Views/Shared/RepresentativeLayout.cshtml";
}
<style>
    .editor-field input[type="radio"] 
    {
        width:50px;
    }
    </style>
<h2 style="text-align:center">Add Jobs</h2>

<script>
    function checkPublishDate() {
        var EnteredDate = $('input[type=date]').val(); // For JQuery

        var date = EnteredDate.substring(8, 10);
        var month = EnteredDate.substring(5, 7);
        var year = EnteredDate.substring(0, 4);

        var myDate = new Date(year, month - 1, date);

        var today = new Date();

        if (myDate < today) {
            //$("#errorPanel").html("<h3 style='color:red'>Entered date should be greater than today's date!</h3> ");
            return false;
        }
        else {
            return true;
        }
    }


    function buttonclick()
    {
        var dat = $("#LastDate");
        var verify = checkPublishDate();
        
        if (verify == false) {
            var str = "Please enter Date in the future";
        
            Alert.render(str);

        }
        else
        {
            alert("successfully added job");
        }
        return verify;
    }

</script>
<style type="text/css">
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 .editor-field {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 .editor-field:focus{
    background: #d2d9dd;
}


.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 80%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}
</style>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="form-style-5">
    <fieldset>
        <legend>RepresentativeAddJobOffer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Company)
        </div>
        <div class="editor-field">
           @ViewBag.companyname
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.streamName)
        </div>
        <div class="editor-field">
           @Html.RadioButtonFor(model => model.streamName, "Engineering",new { @checked = "checked" }) Engineering
            @Html.RadioButtonFor(model => model.streamName, "Finance") Finance
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jobOfferID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jobOfferID)
            @Html.ValidationMessageFor(model => model.jobOfferID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jobType)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.jobType, "Full-Time",new { @checked = "checked" }) Full-Time
            @Html.RadioButtonFor(model => model.jobType, "Part-Time") Part-Time
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SscPercentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SscPercentage)
            @Html.ValidationMessageFor(model => model.SscPercentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HscPercentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HscPercentage)
            @Html.ValidationMessageFor(model => model.HscPercentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GraduationPercentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GraduationPercentage)
            @Html.ValidationMessageFor(model => model.GraduationPercentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostGraduationPercentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostGraduationPercentage)
            @Html.ValidationMessageFor(model => model.PostGraduationPercentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.monthlySalary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.monthlySalary)
            @Html.ValidationMessageFor(model => model.monthlySalary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.Location, "Bangalore",new { @checked = "checked" }) Bangalore
            @Html.RadioButtonFor(model => model.Location, "Delhi") Delhi
            @Html.RadioButtonFor(model => model.Location, "Pune") Pune
            @Html.RadioButtonFor(model => model.Location, "Kolkata") Kolkata
            @Html.RadioButtonFor(model => model.Location, "Jaipur") Jaipur
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Experience)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Experience)
            @Html.ValidationMessageFor(model => model.Experience)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastDate)
            @Html.ValidationMessageFor(model => model.LastDate)
        </div>

        <p>
            <input type="submit" value="Create" onclick="return buttonclick()"/>
        </p>
    </fieldset>
</div>
}

<div id="errors">

</div>  

<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody"></div>
    <div id="dialogboxfoot"></div>
  </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

