
@{
    ViewBag.Title = "ApplyForTraining";
}


<style type="text/css">
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 .editor-field {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 .editor-field:focus{
    background: #d2d9dd;
}


.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 .Buttons
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 80%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 .Buttons:hover
{
    background: #109177;
}
</style>
<script>
    function Checktoggle()
    {
        if ($("#CheckB :checkbox:checked").length > 0)
        {
            //alert("checked");
            $("input[name='CorrespondAddr']").attr("disabled", true);
            $("#Corraddr").val($("#address").val());
            $("#Corrcontact").val($("#contact").val());
            $("#Corraddr").css("background-color","lightgrey");
            $("#Corrcontact").css("background-color","lightgrey");
        }
        else
        {
            //alert("not checked");
            $("input[name='CorrespondAddr']").attr("disabled", false);
            $("input[name='CorrespondAddr']").val("");
        }
    }
    
    function ApplyButton()
    {
        alert("applying");
        var url = "/Applicant/AddTrainingToDb";
        var userid1 =@ViewBag.ApplyJob.UserID ;
        var trainingid1 ="@ViewBag.ApplyJob.TrainingID" ;
        var correspondAddr=$("#Corraddr").val();
        var correspondContact=$("#Corrcontact").val();
        var addr=$("#address").val();
        var email=$("#emailid").val();
        var contact=$("#contact").val();
        var pattern=/^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
        
        //alert(userid1 + "  "  + trainingid1 + "  "  + correspondAddr + "  "  + correspondContact);
        if(trainingid1=="" || correspondAddr=="" || correspondContact==""|| addr==""|| email==""|| contact=="")
        {
            var str="Fill All The Details To Proceed !!!!!";
            $("#message").html("");
            $("#message").html(str);
                
        }
        else if(!pattern.test(email))
        {
            var str="Input Correct EmailID !!!!!";
            $("#message").html("");
            $("#message").html(str);
        }
        else
        {
                $.ajax({
                url: url,
                data: { userid:userid1,trainingid:trainingid1 , corraddr:correspondAddr,corrcont:correspondContact},
                cache: false,
                type: "POST",
                success: function (data) 
                {
                    var str="You have successfully Applied for the job !!!!!";
                    $("#message").html("");
                    $("#message").html(str);
                    $("#ApplyButton").remove();
                    alert(str);
                    window.location.assign("/Applicant/Index");

                },
                error: function (reponse) {

                    alert("error : " + reponse);
                }
            });
        }
            //window.location
    }
    
</script>






<h2 style="text-align:center">Apply For Training</h2>
<div class="form-style-5">

<h2 class="number">Personal Details</h2>

<table">
    <tr>
        <td>
            Applicant Name
        </td>
        <td>
            @(ViewBag.ApplyJob.Name)
        </td>
    </tr>
    <tr>
        <td>
            Address:  
        </td>
        <td class="editor-field">
            <input type="text" id="address" value="@ViewBag.ApplyJob.Address" maxlength="50">
        </td>
    </tr>
    <tr>
        <td>
            Age:
        </td>
        <td>
            @ViewBag.ApplyJob.Age
        </td>
    </tr>
    <tr>
        <td>
            EmailId:
        </td>
        <td  class="editor-field">
            <input type="text" id="emailid" value="@ViewBag.ApplyJob.EmailID">
        </td>
    </tr>
    <tr>
        <td>
            Contact No.:
        </td>
        <td class="editor-field">
            <input type="text" id="contact" value="@ViewBag.ApplyJob.Contact">
        </td>
    </tr>
    <tr>
        <td>
            <h4>Correspondance Address:</h4>
        </td>
        
    </tr>
    <tr>
        <td>

        </td>
        <td>

            <span id="CheckB"><input type="checkbox"  onclick="javascript: Checktoggle()">Same As Above</span>
        </td>
    </tr>
    <tr>
        <td>
            Correspondance Address:
        </td>
        <td class="editor-field">
            <input type="text" id="Corraddr" name="CorrespondAddr"  >
        </td>
    </tr>
      <tr>
        <td class="editor-field">
            Correspondance Contact No.:
        </td>
        <td class="editor-field">
            <input type="text" id="Corrcontact" name="CorrespondAddr"  >
        </td>
    </tr>
</table>

<h2 class="number">Educational Details</h2>

<table>
    <tr>
        <td>SSC Percentage</td>
        <td>@ViewBag.ApplyJob.SSCPercentage</td>
    </tr>
    <tr>
        <td>HSC Percentage</td>
        <td>@ViewBag.ApplyJob.HscPercent</td>
    </tr>
     <tr>
        <td>Graduation Percent</td>
        <td>@ViewBag.ApplyJob.GraduationPercent</td>
    </tr>
    <tr>
        <td>Post Graduation Percent</td>
        <td>@ViewBag.ApplyJob.PostGradPercent</td>
    </tr>
    <tr>
        <td>Experience</td>
        <td>@ViewBag.ApplyJob.Experience</td>
    </tr>
</table>


<h2 class="number">Training Details</h2>
<table>
    <tr>
        <td>Company</td>
        <td>@ViewBag.ApplyJob.Company</td>
    </tr>
        <tr>
        <td>Duration in Days</td>
        <td>@ViewBag.ApplyJob.Duration</td>
    </tr>
        <tr>
        <td>Starting Date</td>
        <td>@ViewBag.ApplyJob.StartDate</td>
    </tr>
        <tr>
        <td>Domain</td>
        <td>@ViewBag.ApplyJob.Domain</td>
    </tr>
        <tr>
        <td>Training Offer ID</td>
        <td>@ViewBag.ApplyJob.TrainingID</td>
    </tr>
</table>

<br />
<div class="Buttons">
<button id="ApplyButton" onclick="javascript: ApplyButton()">Apply</button>
<button onclick="location.href= '@Url.Action("SearchForTraining", "Applicant")'">Back</button>
</div>


<div id="message" style="font-size:40px ; color:darkblue">

</div>
</div>