@model SeekYourCareer.ViewModels.staffPostTrainingDetails

<fieldset>
    <legend>staffPostTrainingDetails</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.domain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.domain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.graduation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.graduation)
    </div>

    <div class="display-label">
         Post Graduation
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.postgrad)
    </div>

    <div class="display-label">
        Past Experience
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.experience)
    </div>

    <div class="display-label">
            Starting Date    
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.duration)
    </div>

    <div class="display-label">
            No. Of Seats Available
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.seats)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>

