@model SeekYourCareer.ViewModels.staffPostTrainingDetails




<fieldset>
    <legend>Post Training Details</legend>
    <table class="CSSInfoTable">
        <tr>
            <td>
                Location

            </td>
            <td>
                @Html.DisplayFor(model => model.location)

            </td>
        </tr>

        <tr>
            <td>
                Domain
            </td>
            <td>
                @Html.DisplayFor(model => model.domain)
            </td>
        </tr>
        <tr>
            <td>
                Graduation
            </td>
            <td>
                @Html.DisplayFor(model => model.graduation)
            </td>
        </tr>
        <tr>
            <td>Post Graduation
            </td>
            <td>
                @Html.DisplayFor(model => model.postgrad)
            </td>
        </tr>
        <tr>
            <td>Past Experience
            </td>
            <td>
                @Html.DisplayFor(model => model.experience)
            </td>
        </tr>
        <tr>
            <td>Starting Date
            </td>
            <td>
                @Html.DisplayFor(model => model.startDate)
            </td>
        </tr>

        <tr>
            <td>
                Duration
            </td>
            <td>
                @Html.DisplayFor(model => model.duration)
            </td>
        </tr>
        <tr>
            <td>No. Of Seats Available
            </td>
            <td>
                @Html.DisplayFor(model => model.seats)
            </td>
        </tr>
        <tr>
            <td>
                Description
            </td>
            <td>
                @Html.DisplayFor(model => model.description)
            </td>
        </tr>

    </table>
</fieldset>

