@model ProjSeekCareer.ViewModels.SelTCanViewModel


@{
    ViewBag.Title = "SelTrainCan";
}
<script> 
   function GetDetails(applicantid,trainingid, appdate, corraddress, contactno, status) 
   { 
         details = "<table><tr><td align=\"left\"><b>Applicant Id</b></td><td>:</td><td align=\"left\">" + applicantid + "</td></tr>" 
         details += "<tr><td align=\"left\"><b>Training Offer Id</b></td><td>:</td><td align=\"left\">"+ trainingid + "</td></tr>" 
         details += "<tr><td align=\"left\"><b>Date of Application</b></td><td>:</td><td align=\"left\">"+ appdate + "</td></tr>" 
         details += "<tr><td align=\"left\"><b>Correspondence Address</b></td><td>:</td><td align=\"left\">"+ corraddress + "</td></tr>" 
         details += "<tr><td align=\"left\"><b>Phone Number</b></td><td>:</td><td align=\"left\">"+ contactno + "</td></tr>" 
         details += "<tr><td align=\"left\"><b>Approval Status</b></td><td>:</td><td align=\"left\">"+ status + "</td></tr></table>" 
         document.getElementById("DetailsDiv").innerHTML = details;    
    } 
</script> 

<h2>SelTrainCan</h2>

<table>
@{
    var i=0;

    foreach (var item in Model.TrainApplications){
    <tr>
        <td id="date">
            @Html.DisplayFor(modelItem => item.ApplicantId)
        </td>
        <td id="app_id">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td> 
        <input type="button" value="Details" onclick="GetDetails('@(Model.TrainApplications[i].ApplicantId)    ','@(Model.TrainApplications[i].TrainingId)    ','@(Model.TrainApplications[i].AppDate)    ','@(Model.TrainApplications[i].CorrAddress)    ','@(Model.TrainApplications[i].ContactNo)    ','@(Model.TrainApplications[i].SelectionStatus)    ')" /> 
        </td>
    </tr>
        i++;
}
}
</table>

<div id="DetailsDiv" name="DetailsDiv" align="center"> 
</div> 
