@model ProjSeekCareer.Models.TrainApplication

@{
    ViewBag.Title = "SelTrainCan1";
}

<h2>SelTrainCan1</h2>

<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.ApplicantId)
        </td>
        <td>
            @Html.DisplayFor(model => model.ApplicantId)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.TrainingId)
        </td>
        <td>
            @Html.DisplayFor(model => model.TrainingId)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.AppDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.AppDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CorrAddress)
        </td>
        <td>
            @Html.DisplayFor(model => model.CorrAddress)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.ContactNo)
        </td>
        <td>
            @Html.DisplayFor(model => model.ContactNo)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SelectionStatus)
        </td>
        <td>
            @Html.DisplayFor(model => model.SelectionStatus)
        </td>
    </tr>
</table>
